@font-face {
    font-family: zisaku;
    src:url('/file/1.otf') format("opentype");
}

p.font {
  font-family: 'Zen Kurenaido', sans-serif;
}

p.font1 {
  font-family: 'Zen Maru Gothic', sans-serif;
}

p.font2 {
  font-family: 'M PLUS 1', sans-serif;
}

p.font3 {
  font-family: 'Mochiy Pop One', sans-serif;
}
