p.font {
  font-family: 'Zen Kurenaido', sans-serif;
}

p.font1 {
  font-family: 'Zen Maru Gothic', sans-serif;
}

p.font2 {
  font-family: 'M PLUS 1', sans-serif;
}

p.font3 {
  font-family: 'Mochiy Pop One', sans-serif;
}

@font-face {
	font-family: 'MyFont';
	src: url(font/a.ttf)  format('truetype');
}

p.font4 {
  font-family: 'MyFont',sans-serif;
}

@font-face {
	font-family: 'MyFont1';
	src: url(font/hentaiHiragana-Regular.ttf)  format('truetype');
}

p.font5 {
  font-family: 'MyFont1',sans-serif;
}

input {
  font-size: 500%;
}
